
.header-nav {
    display: flex;
    background-color: rgb(248, 248, 248); 
}

.page-links {
    float: left;
    width: 75%;
}

.account-links {
    float: right;
    width: 25%;
}

.header-nav ul {
    margin: 0; /*ul have preset margins as well*/
    padding: 0 2rem;
    width: 700px
}

.header-nav li {
    display: inline-block; /* inline-block lets you set margin and padding, but inline doesn't */
    margin: 0;
    padding: 1rem;
}

.header-nav li:first-child {
    padding: 1rem 1rem 1rem 0rem;
}

.header-nav li a{
    display: block; /*blocks take up full width*/
    color: black;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: lowercase;
}


