/*each rem is 16px (rem is for root directory font)*/
body {
    background-color: white;
}

.header-brand-name{
    text-align: left;
    padding: 0 2rem;
}

/* .measurements {
    display: flex;
    margin: 1.8rem 0rem;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.measurements .first{
    display: inline-block;
    height: 1.875rem;
    width: 30px;
    background-color: red;
    overflow-wrap: break-word
}

.measurements .second {
    display: inline-block;
    height: 3.125rem;
    width: 50px;
    background-color: yellow;
}

.measurements .third {
    display: inline-block;
    height: 6.6rem;
    width: 100px;
    background-color: blue;
} */