
li {
    display: inline-block; /*inline-block lets you set margin and padding, but inline doesn't */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block; /*blocks take up full width*/
    color: white;
    margin:0;
    padding:1rem;
    text-decoration: none;
}

.nav ul {
    margin:0; /*ul have preset margins as well*/
}

.nav {
    display: flex;
    justify-content: center;
    background-color: black;
}